.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #DC3545 !important;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5em;
    z-index: 1;
}

.splide__arrow:hover {
    background: #0573E6 !important;
}

a:hover h5 {
    color: #0573E6;
}

a:hover span {
    color: #DC3545;
}

.carousel {
    background: #222;
}

.carousel-cell {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    width: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
    max-width: 100%;
}


/*-----------------------*/

.lead-content h4 {
    font-weight: var(--f-w-xl);
}

.lead-content p, .lead-category-content p {
    font-size: var(--font-sm-1);
}
























/*.category th{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.category .sub-category th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.category th:not(:last-child)::after {
    content: "\f111";
    font-family: FontAwesome;
    color: var(--site-color);
    margin-left: 1rem;
    font-size: 5px;
}

.image-then-description-for-all {
    display: flex;
    flex-direction: row;
}

.image-then-description-for-all .image-container .img-fluid,
.special-reports .card:hover .image-container .img-fluid {
    transition: transform .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.image-then-description-for-all:hover .image-container .img-fluid,
.special-reports .card:hover .image-container .img-fluid {
    transform: scale(1.02);
}

.image-then-description-for-all .description-container {
    padding-left: 1rem;
}

.politics p,
.economics p {
    font-size: var(--font-sm-1);
}

.category .only-headline h5 {
    padding-bottom: 0;
    font-weight: 400;
    margin-bottom: 0;
}

.special-reports {
    background-color: #FFF3E0;
}

.opinion .lead-category-content .author-image,
.opinion .other-contents .content .author-image {
    display: flex;
    align-items: center;
}

.opinion .lead-category-content .author-image .circleBase {
    border-radius: 50%;
    border: 3px solid #DC3545;
    overflow: hidden;
}



.opinion .lead-category-content:hover .author-image .circleBase {
    border: 3px solid var(--site-color);
}

/*.opinion .other-contents .content .author-image .circleBase {*/
/*    width: 85px;*/
/*    height: 90px;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*}*/


.opinion .lead-category-content .author-image .circleBase img,
.opinion .other-contents .content .author-image .circleBase img{
    border-radius: 50%;
    width: 100%;
    height: 101%
}

.opinion .lead-category-content .opinion-details {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opinion .lead-category-content .opinion-details p,
.opinion .other-contents .content .opinion-details p{
    font-size: var(--font-sm-1);
}

.opinion .lead-category-content .opinion-details h4 {
    font-size: var(--font-md);
    font-weight: var(--f-w-xl);
}

.opinion .lead-category-content .opinion-details h4::before {
    content: "\f10d";
    font-family: FontAwesome;
    margin-right: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.opinion .lead-category-content .opinion-details h4::after {
    content: "\f10e";
    font-family: FontAwesome;
    margin-left: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.opinion .lead-category-content .opinion-details h5 {
    font-size: 1.25rem;
    font-weight: var(--f-w-md) !important;
}

.opinion .lead-category-content .opinion-details .author-name,
.opinion .other-contents .content .author-name{
    display: flex;
    align-items: center;
}

.opinion .lead-category-content .opinion-details .author-name::before {
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DC3545;
    font-size: 1.5rem;
    display: inline-block;
}

.opinion .other-contents .content .opinion-details .author-name::before
{
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DEE2E6;
    font-size: 1.5rem;
    display: inline-block;
}

/*.latest-popular .tab-content h5 {*/
/*    margin-bottom: 0;*/
/*    font-weight: 400;*/
/*}*/