.search-button .form-control::placeholder {
    font-size: 14px;
}

/*special-section-category*/

.special-section {
    padding-top: var(--full);
    margin-top: var(--full);
    background-color:  #BEDCFA;
}

.special-section .contents {
    padding-top: var(--full);
}

.special-section .article-contents .content {
    padding-bottom: var(--full);
    display: flex;
}

.special-section .article-contents .content:last-child {
    /*align-items: end;*/
}


.special-section .content h5 {
    font-weight: var(--f-w-md);
}

.special-section .lead-special-section-video h5 {
    font-weight: var(--f-w-lg);
}

.special-section .other-special-section-video .content .headline {
    background-color: white;
    margin-top: var(--full);
    margin-bottom: var(--full);
    padding: var(--half);
    border-radius: 10px;
}

.special-section .other-special-section-video h5 {
    margin-bottom: 0;
    display: flex;
    font-weight: var(--f-w-md);
}

.special-section .other-special-section-video h5 .fa-circle-play {
    margin-right: var(--half);
    font-size: 1.75rem;
    color: red;
}
/*special-section-category-ends*/




/*lead-container*/

.lead-container {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*lead-container ends*/

/*next-lead-video-category*/

.next-lead-videos h5 {
    margin-bottom: 0;
}

/*next-lead-video-category-ends*/


/*latest-popular*/

.latest-popular {
    padding-top: var(--full);
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--global-border-color);
}

.tab .active {
    border-bottom: 3px solid var(--second-site-color);
    padding-bottom: 6px;
}

.tab .category-name {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: calc(var(--full) + var(--quarter));
}

.tab h5 {
    width: 50%;
    margin-bottom: 0;
    font-weight: var(--f-w-md);
}

.tab .category-name:hover {
    color: var(--site-color);
}

.tab-content ul {
    list-style: none;
    padding-left: 0;
}

.tab-content ul li {
    border-bottom: 1px solid var(--global-border-color);
}

.tab-content ul li h5 {
    display: flex;
    font-weight: var(--f-w-sm);
    margin: var(--half) 0;
}

serial {
    font-size: var(--font-md);
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    font-weight: var(--f-w-xxl);
    margin-right: .5rem;

}

.tab-content btn-more {
    display: flex;
    justify-content: center;
}

.btn-more-news {
    --bs-btn-color: #0573E6;
    --bs-btn-border-color: #0573E6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #0573E6;
    --bs-btn-hover-border-color: #0573E6;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #0573E6;
    --bs-btn-active-border-color: #0573E6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0573E6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0573E6;
    --bs-gradient: none;
}

/*latest-popular-ends*/


/*global*/

.video-icon {
    position: absolute;
    left: 39%;
    bottom: 35%;
    background-color: white;
    border-radius: 50%;
    height: 2rem;
    border: 2px solid white;
    color: var(--second-site-color);
}

.description-beneath-image-for-all:hover .video-icon {
    color: white;
    background-color: var(--second-site-color);
    border: 2px solid var(--second-site-color);
}

.multiple-category {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}


.national .lead-category-content,
.sports .lead-category-content,
.country .lead-category-content,
.law-court .lead-category-content,
.crime .lead-category-content,
.opinions .lead-category-content,
.special-articles .lead-category-content,
.career .lead-category-content,
.campus .lead-category-content {
    display: flex;
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}


.description-beneath-image-for-all {
    display: flex;
    flex-direction: column;
}

.description-beneath-image-for-all .description-container {
    margin-top: var(--half);
}

.card .card-body {
    padding: var(--half) !important;
}

.card .description-container {
    margin-top: 0 !important;
}

.category {
    margin-top: 3rem !important;
}

.category .category-name-btn-more {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--global-border-color);
    height: 50px;
}

.category .category-name-btn-more .category-name {
    font-size: 1.25rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.category .category-name-btn-more .btn-more {
    display: flex;
    justify-content: end;
    align-items: center;
}

.category .category-name-btn-more .btn-more .btn-more-icon {
    margin-top: -.2rem;
}


.category .category-contents {
    padding-top: 1rem;
}

.category .category-contents .lead-category-content h5 {
    font-weight: var(--f-w-lg) !important;
}

/*global ends*/


/*national-category*/

.national .other-contents-1 {
    display: flex;
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.national .other-contents-2 {
    display: flex;
    padding-top: var(--full);
}

/*national-category-ends*/

/*emigration-category*/

.emigration .lead-category-content {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.emigration .other-contents .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.emigration .other-contents .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*emigration-category-ends*/

/*country-category*/

.country .other-contents-1 {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.country .other-contents-2 {
    padding-top: var(--full);
}

.country .other-contents-1 .content:nth-child(odd),
.country .other-contents-2 .content:nth-child(odd) {
    border-right: 1px solid var(--global-border-color);
}


.country .other-contents-1 .content:nth-child(even),
.country .other-contents-2 .content:nth-child(even) {
    border-left: 1px solid transparent;
}


/*country-category-ends*/

/*law-court-&-crime-category*/

.law-court .content,
.crime .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.crime .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*law-court-&-crime-category-ends*/

/*politics-&-economics-category*/

.politics,
.economics {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*politics-&-economics-category-ends*/

/*opinions-category*/

.opinions .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*opinions-category-ends*/

/*special-article-category*/

.special-articles .lead-category-content .author-image,
.special-articles .other-contents .content .author-image {
    display: flex;
    align-items: center;
}


.special-articles .lead-category-content .author-image .circleBase {
    border-radius: 50%;
    border: 3px solid #DC3545;
    overflow: hidden;
}

.special-articles .lead-category-content:hover .author-image .circleBase {
    border: 3px solid var(--site-color);
}

.special-articles .lead-category-content .author-image .circleBase img,
.special-articles .other-contents .content .author-image .circleBase img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.special-articles .lead-category-content .opinion-details {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.special-articles .lead-category-content .opinion-details h4 {
    font-size: var(--font-md);
    font-weight: var(--f-w-xl);
}

.special-articles .lead-category-content .opinion-details h4::before {
    content: "\f10d";
    font-family: FontAwesome;
    margin-right: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.special-articles .lead-category-content .opinion-details h4::after {
    content: "\f10e";
    font-family: FontAwesome;
    margin-left: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.special-articles .lead-category-content .author-name {
    margin-bottom: 0;
}

.special-articles .lead-category-content .opinion-details .author-name,
.special-articles .other-contents .content .author-name {
    display: flex;
    align-items: center;
}

.special-articles .lead-category-content .opinion-details .author-name::before {
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DC3545;
    font-size: 1.5rem;
    display: inline-block;
}

.special-articles .other-contents .content .author-image .circleBase {
    width: 85px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.special-articles .other-contents .description-container {
    padding-left: var(--full);
}

.special-articles .other-contents .content .opinion-details .author-name::before {
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DEE2E6;
    font-size: 1.5rem;
    display: inline-block;
}

.special-articles .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.special-articles .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*special-article-category-ends*/

/*entertainment-category*/

.entertainment {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*entertainment-category-ends*/

/*career-&-campus-categories*/

.career .content,
.campus .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.campus .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*career-&-campus-categories-end*/

/*life-style-&-health-&-education-&-art-culture-categories*/

.life-style .lead-category-content,
.health .lead-category-content,
.education .lead-category-content,
.art-culture .lead-category-content {
    display: flex;
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.life-style .content,
.health .content,
.education .content,
.art-culture .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*life-style-&-health-&-education-&-art-culture-categories-end*/

/*gallery-category*/

.image-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #f5f3f3;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
    top: 0;
}

.img-title-small {
    position: absolute;
    bottom: 1%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: var(--f-w-md);
}

.image-icon {

    position: absolute;
    height: 30px;
    display: flex;
    width: 30px;
    background-color: var(--site-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    left: 5px;
    top: 5px;

}

.image-icon .fa-images {
    color: white !important;
}

a:hover .overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 1) 100%);
}

a:hover .img-title-small {
    color: var(--second-site-color);
}

/*gallery-category-ends*/

/*breaking-news-category*/

.breaking-news {
    padding-top: var(--full);
    padding-bottom: var(--full);
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 3;
    /*background-color: #316B83;*/
    background-color: var(--second-site-color);
    min-height: 25%;
}

.breaking-news .category-name-btn-more {
    padding-top: 0;
    padding-bottom: 1rem;
    /*border-top: 1px solid var(--global-border-color);*/
    height: auto !important;
}


.breaking-news .category-name a {
    font-size: 2rem;
    cursor: context-menu;
    color: white;
}

.breaking-news .category-name a:hover {
    color: white;
}

.breaking-news .btn-more h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    display: flex;
    color: white;
    cursor: pointer;
}

.breaking-news .btn-more h2:hover {
    color: black;
}

.breaking-news .content {
    /*background-color: white;*/
}
.breaking-news .content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.breaking-news .content:not(:first-child) h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.breaking-news .content:last-child h3 {
    margin-bottom: 0;
}

.breaking-news .content h3 a {
    color: white;
}

.breaking-news .content h3 a:hover {
    color: black;
}

/*breaking-news-category-ends*/


.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #DC3545 !important;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5em;
    z-index: 1;
}

.splide__arrow:hover {
    background: #0573E6 !important;
}

a:hover h5 {
    color: #0573E6;
}

a:hover span {
    color: #DC3545;
}

.carousel {
    background: #222;
}

.carousel-cell {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    width: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
    max-width: 100%;
}


/*-----------------------*/

.lead-content h4 {
    font-weight: var(--f-w-xl);
}

.lead-content p {
    font-size: var(--font-sm-1);
}

.lead-category-content p {
    font-size: var(--font-sm-1);
}


.category .sub-category th {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.category th:not(:last-child)::after {
    content: "\f111";
    font-family: FontAwesome;
    color: var(--site-color);
    margin-left: 1rem;
    font-size: 5px;
}

.image-then-description-for-all {
    display: flex;
    flex-direction: row;
}

.image-then-description-for-all .image-container .img-fluid,
.special-reports .card:hover .image-container .img-fluid {
    transition: transform .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.image-then-description-for-all:hover .image-container .img-fluid,
.special-reports .card:hover .image-container .img-fluid {
    transform: scale(1.02);
}

.image-then-description-for-all .description-container {
    padding-left: 1rem;
}

.politics p,
.economics p {
    font-size: var(--font-sm-1);
}

.category .only-headline h5 {
    padding-bottom: 0;
    font-weight: 400;
    margin-bottom: 0;
}

.special-reports {
    background-color: #FFF3E0;
}