.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #DC3545 !important;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5em;
    z-index:1;
}

.splide__arrow:hover {
    background: #0573E6 !important;
}

a:hover h5 {
    color: #0573E6;
}

a:hover span {
    color: #DC3545;
}

.carousel {
    background: #222;
}

.carousel-cell {
    width: 100%;
    height: 300px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    width: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
    max-width: 100%;
}


/*-----------------------*/

.lead-content h4 {
    font-weight: var(--f-w-xl);
}

.lead-content p, .lead-category-content p {
    font-size: var(--font-sm-1);
}


.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--global-border-color);
}

.tab .active {
        border-bottom: 3px solid #DC3545;
        padding-bottom: 6px;
}

.tab h5 {
    width: 50%;
    margin-bottom: 0;
    font-weight: var(--f-w-lg);

}

.tab .category-name {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.tab .category-name:hover {
    color: var(--site-color);
    cursor: pointer;
}

.tab-content ul {
    list-style: none;
    padding-left:0 ;
}

.tab-content ul li {
    margin-bottom: var(--margin-bottom-1);
    border-bottom: 1px solid var(--global-border-color);
}

.tab-content ul li h5 {
    display: flex;
}

serial{
    font-size: var(--font-md);
    --bs-text-opacity:1;
    color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
    font-weight: var(--f-w-xxl);
    margin-right: .5rem;

}

.tab-content btn-more {
    display: flex;
    justify-content: center;
}

.btn-more-news {
    --bs-btn-color: #0573E6;
    --bs-btn-border-color: #0573E6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #0573E6;
    --bs-btn-hover-border-color: #0573E6;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #0573E6;
    --bs-btn-active-border-color: #0573E6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0573E6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0573E6;
    --bs-gradient: none;
}

/*.category th{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.category th:not(:last-child)::after{
    content: "\f111";
    font-family: FontAwesome;
    color: var(--site-color);
    margin-left: 1rem;
    font-size: 5px;
}