@media only screen and (min-width: 992px) {

    .border-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .border-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }


    /*top lead content*/
    .top-lead {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }


    .top-lead .lead-video {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .next-lead-contents a {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .next-lead-contents a:nth-last-child(1) {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*top lead content ends*/
    /*all lead contents*/
    .all-lead-contents {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .all-lead-contents:nth-last-child(1) {
        padding-bottom: 0;
        border-bottom: none;
    }

    .all-lead-contents .row a:nth-child(odd) {
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(even) {
        width: calc(50% - 1px);
        /*padding-left: calc(.75rem - 1px);*/
    }

    /*al lead contents ends*/
    /*side-ad-or-content*/
    .side-ad-1-or-content,
    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-4-or-content,
    .side-ad-5-or-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-5-or-content,
    .side-ad-6-or-content {
        padding-top: var(--full);
    }

    /*side-ad-or-content-ends*/
    /*national-category*/
    .national {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:not(:first-child),
    .national .other-contents-2 .content:not(:first-child) {
        border-left: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:first-child,
    .national .other-contents-2 .content:first-child {
        /*width: calc(33.33333333% - 1px);*/
        border-left: 1px solid transparent;
    }

    /*national-category-ends*/
    /*sports-category*/
    .sports {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-1 {
        padding-top: var(--full);
    }

    .sports .other-contents-2 .content:first-child {
        padding-top: 0;
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-2 .content:not(:first-child):not(:last-child) {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-2 .content:last-child {
        padding-top: var(--full);
    }

    /*sports-category-ends*/
    /*foreign-category*/
    .foreign .lead-category-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*foreign-category-ends*/
    /*law-court-category*/
    .law-court .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*law-court-category-ends*/
    /*politics-&-economy-categories*/
    .politics .contents .row .content,
    .economics .contents .row .content {
        border-left: 1px solid var(--global-border-color);
    }

    .politics .contents .row .content:first-child,
    .economics .contents .row .content:first-child {
        border-left: 1px solid transparent;
    }

    /*politics-&-economy-categories-end*/
    /*opinions*/
    .opinions .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*opinions-ends*/
    /*career-&-campus-categories*/
    .career .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*career-&-campus-categories-end*/


    /*life-style-&-health-&-education-&-art-culture-categories*/

    .life-style .content:last-child,
    .health .content:last-child,
    .education .content:last-child,
    .art-culture .content:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }

    /*life-style-&-health-&-education-&-art-culture-categories-end*/

    .description-then-image {
        display: flex;
        flex-direction: row;
    }

    .description-then-image .description-container {
        padding-right: var(--padding-left-1);
    }
}

@media only screen and (max-width: 991px) {

    /*special-section*/

    .special-section .article-contents .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .special-section .article-contents .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*special-section-ends*/

    /*top lead content*/
    .top-lead .lead-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .lead-content .description-beneath-image .image-container {
        order: 1;
    }

    .top-lead .lead-content .description-beneath-image .description-container {
        order: 2;
        margin-top: var(--half) !important;
    }

    .top-lead .lead-video,
    .top-lead .next-lead-contents a {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    /*top lead content ends*/
    /*all lead contents*/
    .all-lead-contents {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(odd) {
        padding-right: calc(var(--bs-gutter-x) * .5);
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(even) {
        padding-left: calc(var(--bs-gutter-x) * .5);
        width: calc(50% - 1px);
    }

    /*all lead contents end*/
    /*side-ad-or-content*/
    .side-ad-1-or-content,
    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-4-or-content,
    .side-ad-5-or-content,
    .side-ad-6-or-content {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    /*side-ad-or-content-ends*/
    /*national-category*/
    .national .other-contents-1 .content:first-child .description-beneath-image,
    .national .other-contents-2 .content:first-child .description-beneath-image {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:not(:first-child):not(:last-child) .description-beneath-image,
    .national .other-contents-2 .content:not(:first-child):not(:last-child) .description-beneath-image,
    .national .other-contents-2 .content:last-child .description-beneath-image {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:last-child .description-beneath-image {
        padding-top: var(--full);
    }


    /*national-category-ends*/
    /*sports-category*/
    .sports .lead-category-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .lead-category-content .description-beneath-image .image-container {
        order: 1;
    }

    .sports .lead-category-content .description-beneath-image .description-container {
        order: 2;
        margin-top: var(--half) !important;
    }

    /*sports-category*/
    .sports .other-contents-1,
    .sports .other-contents-2 .content {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*sports-category-ends*/
    /*foreign-category*/
    .foreign .row a .lead-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .foreign .row a:last-child .lead-content {
        padding-top: var(--full);
    }

    /*foreign-category-ends*/
    /*country-category*/
    .country .other-contents-2 {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*country-category-ends*/
    /*politics-&-economy-categories*/
    .politics .contents .row .content,
    .economics .contents .row .content {
        border-left: 1px solid var(--global-border-color);
    }

    .politics .contents .row .content:nth-child(3n+1),
    .economics .contents .row .content:nth-child(3n+1) {
        border-left: 1px solid transparent;
    }

    /*politics-&-economy-categories-end*/
    /*special-reports-category*/
    .special-reports .content:nth-child(odd),
    .science-technology .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .special-reports .content:nth-child(even),
    .science-technology .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*special-reports-category-ends*/
    /*entertainment-category*/
    .entertainment .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .entertainment .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*entertainment-category-ends*/
    /*science-technology*/
    .science-technology {
        border-bottom: 1px solid var(--global-border-color);
    }

    .science-technology .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .science-technology .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*science-technology-end*/

    /*life-style-&-health-&-education-&-art-culture-categories*/
    .art-culture .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    /*life-style-&-health-&-education-&-art-culture-categories-end*/

    /*top-button*/

    #button {
        bottom: 0 !important;
        right: 0 !important;
    }

    /*top-button-ends*/


    .content-one .description-container {
        margin-top: var(--margin-top-1);
    }

    .content-one .description-container {
        padding-left: 0;
    }

    .description-then-image {
        display: flex;
        flex-direction: column;
    }

    .description-then-image .description-container {
        order: 2;
        margin-top: var(--half);
    }

    .description-then-image .image-container {
        order: 1;
    }


    .description-beneath-image .description-container {
        margin-top: 0 !important;
        padding-right: var(--padding-right-1);
        order: 1;
    }

    .description-beneath-image .image-container {
        order: 2;
    }

}

@media only screen and (min-width: 1400px) {

    .lead-special-section-video iframe {
        height: 355px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .lead-special-section-video iframe {
        height: 303px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .lead-special-section-video iframe {
        height: 255px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .lead-special-section-video iframe {
        height: 384px;
    }

}

@media only screen and (min-width: 576px ) and (max-width: 767px) {

    .lead-special-section-video iframe {
        height: 289px;
    }
}

@media only screen and (max-width: 575px ) {
    .lead-special-section-video iframe {
        height: 303px;
    }
}

/*lead-container+advertisement*/

.lead-container,
.advertisement {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*lead-container+advertisement ends*/
/*latest-popular*/

.latest-popular {
    padding-top: var(--full);
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--global-border-color);
}

.tab .active {
    border-bottom: 3px solid var(--second-site-color);
    padding-bottom: 6px;
}

.tab .category-name {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: calc(var(--full) + var(--quarter));
}

.tab h5 {
    width: 50%;
    margin-bottom: 0;
    font-weight: var(--f-w-md);
}

.tab .category-name:hover {
    color: var(--site-color);
}

.tab-content ul {
    list-style: none;
    padding-left: 0;
}

.tab-content ul li {
    border-bottom: 1px solid var(--global-border-color);
}

.tab-content ul li h5 {
    display: flex;
    font-weight: var(--f-w-sm);
    margin: var(--half) 0;
}

serial {
    font-size: var(--font-md);
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    font-weight: var(--f-w-xxl);
    margin-right: .5rem;

}

.tab-content btn-more {
    display: flex;
    justify-content: center;
}

.btn-more-news {
    --bs-btn-color: #0573E6;
    --bs-btn-border-color: #0573E6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #0573E6;
    --bs-btn-hover-border-color: #0573E6;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #0573E6;
    --bs-btn-active-border-color: #0573E6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0573E6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0573E6;
    --bs-gradient: none;
}

/*latest-popular-ends*/


/*global*/

.multiple-category {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}


.national .lead-category-content,
.sports .lead-category-content,
.country .lead-category-content,
.law-court .lead-category-content,
.crime .lead-category-content,
.opinions .lead-category-content,
.special-articles .lead-category-content,
.career .lead-category-content,
.campus .lead-category-content {
    display: flex;
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}


.description-beneath-image-for-all {
    display: flex;
    flex-direction: column;
}

.description-beneath-image-for-all .description-container {
    margin-top: var(--half);
}

.card .card-body {
    padding: var(--half) !important;
}

.card .description-container {
    margin-top: 0 !important;
}

/*global ends*/


/*national-category*/

.national .other-contents-1 {
    display: flex;
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.national .other-contents-2 {
    display: flex;
    padding-top: var(--full);
}

/*national-category-ends*/

/*emigration-category*/

.emigration .lead-category-content {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.emigration .other-contents .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.emigration .other-contents .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*emigration-category-ends*/

/*country-category*/

.country .other-contents-1 {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.country .other-contents-2 {
    padding-top: var(--full);
}

.country .other-contents-1 .content:nth-child(odd),
.country .other-contents-2 .content:nth-child(odd) {
    border-right: 1px solid var(--global-border-color);
}


.country .other-contents-1 .content:nth-child(even),
.country .other-contents-2 .content:nth-child(even) {
    border-left: 1px solid transparent;
}


/*country-category-ends*/

/*law-court-&-crime-category*/

.law-court .content,
.crime .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.crime .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*law-court-&-crime-category-ends*/

/*politics-&-economics-category*/

.politics,
.economics {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*politics-&-economics-category-ends*/

/*opinions-category*/

.opinions .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*opinions-category-ends*/

/*special-article-category*/

.special-articles .lead-category-content .author-image,
.special-articles .other-contents .content .author-image {
    display: flex;
    align-items: center;
}


.special-articles .lead-category-content .author-image .circleBase {
    border-radius: 50%;
    border: 3px solid #DC3545;
    overflow: hidden;
}

.special-articles .lead-category-content:hover .author-image .circleBase {
    border: 3px solid var(--site-color);
}

.special-articles .lead-category-content .author-image .circleBase img,
.special-articles .other-contents .content .author-image .circleBase img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.special-articles .lead-category-content .opinion-details {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.special-articles .lead-category-content .opinion-details h4 {
    font-size: var(--font-md);
    font-weight: var(--f-w-xl);
}

.special-articles .lead-category-content .opinion-details h4::before {
    content: "\f10d";
    font-family: FontAwesome;
    margin-right: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.special-articles .lead-category-content .opinion-details h4::after {
    content: "\f10e";
    font-family: FontAwesome;
    margin-left: .25rem;
    color: #DC3545;
    font-size: 1.75rem;
}

.special-articles .lead-category-content .author-name {
    margin-bottom: 0;
}

.special-articles .lead-category-content .opinion-details .author-name,
.special-articles .other-contents .content .author-name {
    display: flex;
    align-items: center;
}

.special-articles .lead-category-content .opinion-details .author-name::before {
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DC3545;
    font-size: 1.5rem;
    display: inline-block;
}

.special-articles .other-contents .content .author-image .circleBase {
    width: 85px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.special-articles .other-contents .description-container {
    padding-left: var(--full);
}

.special-articles .other-contents .content .opinion-details .author-name::before {
    content: "\f068";
    font-family: FontAwesome;
    margin-right: .5rem;
    color: #DEE2E6;
    font-size: 1.5rem;
    display: inline-block;
}

.special-articles .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.special-articles .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*special-article-category-ends*/

/*entertainment-category*/

.entertainment {
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*entertainment-category-ends*/

/*career-&-campus-categories*/

.career .content,
.campus .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.campus .content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/*career-&-campus-categories-end*/

/*life-style-&-health-&-education-&-art-culture-categories*/

.life-style .lead-category-content,
.health .lead-category-content,
.education .lead-category-content,
.art-culture .lead-category-content {
    display: flex;
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

.life-style .content,
.health .content,
.education .content,
.art-culture .content {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*life-style-&-health-&-education-&-art-culture-categories-end*/

/*gallery-category*/

.image-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #f5f3f3;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
    top: 0;
}

.img-title-small {
    position: absolute;
    bottom: 1%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: var(--f-w-md);
}

.image-icon {

    position: absolute;
    height: 30px;
    display: flex;
    width: 30px;
    background-color: var(--site-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    left: 5px;
    top: 5px;

}

.image-icon .fa-images {
    color: white !important;
}

a:hover .overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 1) 100%);
}

a:hover .img-title-small {
    color: var(--second-site-color);
}

/*gallery-category-ends*/

/*footer-advertisement*/

.footer-advertisement {
    height: auto;
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
}

.ad-close-btn {
    display: block !important;
    background-color: var(--second-site-color);
    border: none;
    height: 12px;
    width: 55px;
    padding: 0;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: calc(50% - 28px);
    top: -12px;
    /*box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 20%);*/
    border-radius: 12px 12px 0 0;
}

/*footer-advertisement-ends*/

/*breaking-news-category*/

.breaking-news {
    padding-top: var(--full);
    padding-bottom: var(--full);
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 3;
    /*background-color: #316B83;*/
    background-color: var(--second-site-color);
    min-height: 25%;
}

.breaking-news .category-name-btn-more {
    padding-top: 0;
    padding-bottom: 1rem;
    /*border-top: 1px solid var(--global-border-color);*/
    height: auto !important;
}


.breaking-news .category-name a {
    font-size: 2rem;
    cursor: context-menu;
    color: white;
}

.breaking-news .category-name a:hover {
    color: white;
}

.breaking-news .btn-more h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    display: flex;
    color: white;
    cursor: pointer;
}

.breaking-news .btn-more h2:hover {
    color: black;
}

.breaking-news .content {
    /*background-color: white;*/
}
 .breaking-news .content h3 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 0;
 }

 .breaking-news .content:not(:first-child) h3 {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .breaking-news .content:last-child h3 {
     margin-bottom: 0;
 }

.breaking-news .content h3 a {
    color: white;
}

.breaking-news .content h3 a:hover {
    color: black;
}

/*breaking-news-category-ends*/

/*top-button*/

#button {
    display: inline-block;
    background-color: var(--second-site-color);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    right: 5%;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


#button::after {

    content: "\f0aa";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 40px;
    color: #fff;

}

#button:hover {
    background-color: var(--site-color);
    cursor: pointer;
}

/*top-button-ends*/