@media only screen and (min-width: 992px) {

    .border-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .border-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }


    /*top lead content*/
    .top-lead {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }


    .top-lead .lead-video {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .next-lead-contents a {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .next-lead-contents a:nth-last-child(1) {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*top lead content ends*/
    /*all lead contents*/
    .all-lead-contents {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .all-lead-contents:nth-last-child(1) {
        padding-bottom: 0;
        border-bottom: none;
    }

    .all-lead-contents .row a:nth-child(odd) {
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(even) {
        width: calc(50% - 1px);
        /*padding-left: calc(.75rem - 1px);*/
    }

    /*al lead contents ends*/
    /*side-ad-or-content*/
    .side-ad-1-or-content,
    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-4-or-content,
    .side-ad-5-or-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-5-or-content,
    .side-ad-6-or-content {
        padding-top: var(--full);
    }

    /*side-ad-or-content-ends*/
    /*national-category*/
    .national {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:not(:first-child),
    .national .other-contents-2 .content:not(:first-child) {
        border-left: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:first-child,
    .national .other-contents-2 .content:first-child {
        /*width: calc(33.33333333% - 1px);*/
        border-left: 1px solid transparent;
    }

    /*national-category-ends*/
    /*sports-category*/
    .sports {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-1 {
        padding-top: var(--full);
    }

    .sports .other-contents-2 .content:first-child {
        padding-top: 0;
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-2 .content:not(:first-child):not(:last-child) {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .other-contents-2 .content:last-child {
        padding-top: var(--full);
    }

    /*sports-category-ends*/
    /*foreign-category*/
    .foreign .lead-category-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*foreign-category-ends*/
    /*law-court-category*/
    .law-court .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*law-court-category-ends*/
    /*politics-&-economy-categories*/
    .politics .contents .row .content,
    .economics .contents .row .content {
        border-left: 1px solid var(--global-border-color);
    }

    .politics .contents .row .content:first-child,
    .economics .contents .row .content:first-child {
        border-left: 1px solid transparent;
    }

    /*politics-&-economy-categories-end*/
    /*opinions*/
    .opinions .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*opinions-ends*/
    /*career-&-campus-categories*/
    .career .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    /*career-&-campus-categories-end*/


    /*life-style-&-health-&-education-&-art-culture-categories*/

    .life-style .content:last-child,
    .health .content:last-child,
    .education .content:last-child,
    .art-culture .content:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }

    /*life-style-&-health-&-education-&-art-culture-categories-end*/

    .description-then-image {
        display: flex;
        flex-direction: row;
    }

    .description-then-image .description-container {
        padding-right: var(--padding-left-1);
    }
}

@media only screen and (max-width: 991px) {

    /*special-section*/

    .special-section .article-contents .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .special-section .article-contents .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*special-section-ends*/

    /*top lead content*/
    .top-lead .lead-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .top-lead .lead-content .description-beneath-image .image-container {
        order: 1;
    }

    .top-lead .lead-content .description-beneath-image .description-container {
        order: 2;
        margin-top: var(--half) !important;
    }

    .top-lead .lead-video,
    .top-lead .next-lead-contents a {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    /*top lead content ends*/
    /*all lead contents*/
    .all-lead-contents {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(odd) {
        padding-right: calc(var(--bs-gutter-x) * .5);
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .row a:nth-child(even) {
        padding-left: calc(var(--bs-gutter-x) * .5);
        width: calc(50% - 1px);
    }

    /*all lead contents end*/
    /*side-ad-or-content*/
    .side-ad-1-or-content,
    .side-ad-2-or-content,
    .side-ad-3-or-content,
    .side-ad-4-or-content,
    .side-ad-5-or-content,
    .side-ad-6-or-content {
        padding: var(--full) 0;
        border-bottom: 1px solid var(--global-border-color);
    }

    /*side-ad-or-content-ends*/
    /*national-category*/
    .national .other-contents-1 .content:first-child .description-beneath-image,
    .national .other-contents-2 .content:first-child .description-beneath-image {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:not(:first-child):not(:last-child) .description-beneath-image,
    .national .other-contents-2 .content:not(:first-child):not(:last-child) .description-beneath-image,
    .national .other-contents-2 .content:last-child .description-beneath-image {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .national .other-contents-1 .content:last-child .description-beneath-image {
        padding-top: var(--full);
    }


    /*national-category-ends*/
    /*sports-category*/
    .sports .lead-category-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .sports .lead-category-content .description-beneath-image .image-container {
        order: 1;
    }

    .sports .lead-category-content .description-beneath-image .description-container {
        order: 2;
        margin-top: var(--half) !important;
    }

    /*sports-category*/
    .sports .other-contents-1,
    .sports .other-contents-2 .content {
        padding-top: var(--full);
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*sports-category-ends*/
    /*foreign-category*/
    .foreign .row a .lead-content {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    .foreign .row a:last-child .lead-content {
        padding-top: var(--full);
    }

    /*foreign-category-ends*/
    /*country-category*/
    .country .other-contents-2 {
        padding-bottom: var(--full);
        border-bottom: 1px solid var(--global-border-color);
    }

    /*country-category-ends*/
    /*politics-&-economy-categories*/
    .politics .contents .row .content,
    .economics .contents .row .content {
        border-left: 1px solid var(--global-border-color);
    }

    .politics .contents .row .content:nth-child(3n+1),
    .economics .contents .row .content:nth-child(3n+1) {
        border-left: 1px solid transparent;
    }

    /*politics-&-economy-categories-end*/
    /*special-reports-category*/
    .special-reports .content:nth-child(odd),
    .science-technology .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .special-reports .content:nth-child(even),
    .science-technology .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*special-reports-category-ends*/
    /*entertainment-category*/
    .entertainment .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .entertainment .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*entertainment-category-ends*/
    /*science-technology*/
    .science-technology {
        border-bottom: 1px solid var(--global-border-color);
    }

    .science-technology .content:nth-child(odd) {
        padding-right: var(--half);
    }

    .science-technology .content:nth-child(even) {
        padding-left: var(--half);
    }

    /*science-technology-end*/

    /*life-style-&-health-&-education-&-art-culture-categories*/
    .art-culture .content:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    /*life-style-&-health-&-education-&-art-culture-categories-end*/

    /*top-button*/

    #button {
        bottom: 10% !important;
        right: 5% !important;
    }

    /*top-button-ends*/

    .description-then-image {
        display: flex;
        flex-direction: column;
    }

    .description-then-image .description-container {
        order: 2;
        margin-top: var(--half);
    }

    .description-then-image .image-container {
        order: 1;
    }


    .description-beneath-image .description-container {
        margin-top: 0 !important;
        padding-right: var(--padding-right-1);
        order: 1;
    }

    .description-beneath-image .image-container {
        order: 2;
    }

}

@media only screen and (min-width: 1400px) {

    .lead-special-section-video iframe {
        height: 356px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .lead-special-section-video iframe {
        height: 303px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .lead-special-section-video iframe {
        height: 255px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .lead-special-section-video iframe {
        height: 384px;
    }

}

@media only screen and (min-width: 576px ) and (max-width: 767px) {

    .lead-special-section-video iframe {
        height: 289px;
    }
}

@media only screen and (max-width: 575px ) {
    .lead-special-section-video iframe {
        height: 303px;
    }
}

/*lead-container+advertisement*/

.lead-container {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*lead-container+advertisement ends*/












