/*minimum and maximum*/
@media only screen and (min-width: 1400px) {
    .top-content-video-height {
        height: 243px;
    }

    .next-lead-contents .image-then-description:first-child {
        padding-bottom: var(--padding-bottom-1);
        border-bottom: 1px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:last-child {
        padding-top: var(--padding-bottom-1);
    }

    .next-lead-contents .image-then-description .image-container {
        height: 81.3667px;
    }

    .all-lead-contents .image-then-description:nth-child(odd), .other-contents .image-then-description:nth-child(odd) {
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .image-then-description .image-container {
        height: 101px;
    }

    /*.national .lead-category-content .image-then-description .image-container .img-fluid {*/
    /*    height: 101% ;*/
    /*}*/

    .image-then-description .description-container {
        padding-left: 1rem;
        padding-top: 0;

    }

    .other-contents .content .image-then-description-for-all .image-container {
        height: 119px;
    }

    .other-contents .image-then-description .image-container .img-fluid {
        height: 101%;
    }

    .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 78px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 230.75px;
    }

    /*.opinion .other-contents .content .author-image .circleBase {*/
    /*    width: 85px;*/
    /*    height: 90px;*/
    /*}*/
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .top-content-video-height {
        height: 209px;
    }

    .next-lead-contents .image-then-description:first-child {
        padding-bottom: var(--padding-bottom-1);
        border-bottom: 1px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:last-child {
        padding-top: var(--padding-bottom-1);
    }

    .next-lead-contents .image-then-description .image-container {
        height: 69.6667px;
    }

    .all-lead-contents .image-then-description:nth-child(odd), .other-contents .image-then-description:nth-child(odd) {
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .image-then-description .image-container {
        height: 87.3604px;
    }

    /*.category .lead-category-content .image-then-description .image-container {*/
    /*    height: 179px ;*/
    /*}*/

    .image-then-description .description-container {
        padding-left: var(--padding-left-1);
        padding-top: 0;

    }

    .other-contents .content .image-then-description-for-all .image-container {
        height: 93px;
    }

    .other-contents .image-then-description .image-container .img-fluid {
        height: 101%;
    }

    .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 66px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 195.75px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-content-video-height {
        height: 173px;
    }

    .border-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .next-lead-contents .image-then-description:first-child {
        padding-bottom: var(--padding-bottom-1);
        border-bottom: 1px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:last-child {
        padding-top: var(--padding-bottom-1);
    }

    .next-lead-contents .image-then-description .image-container {
        height: 57.9667px;
    }

    .all-lead-contents .image-then-description:nth-child(odd), .other-contents .image-then-description:nth-child(odd) {
        border-right: 1px solid var(--global-border-color);
    }

    .all-lead-contents .image-then-description .image-container {
        height: 72px;
    }

    /*.category .lead-category-content .image-then-description .image-container {*/
    /*    height: 150px ;*/
    /*}*/

    .image-then-description .description-container {
        padding-left: 1rem;
        padding-top: 0;

    }

    .other-contents .content .image-then-description-for-all .image-container {
        height: 85px;
    }

    .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 55px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 165.75px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-content-video-height {
        height: 372px;
    }

    .my-xs-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .next-lead-contents {
        display: flex;
    }

    .next-lead-contents .image-then-description:nth-child(odd), .all-lead-contents .image-then-description:nth-child(odd), .category .small-screen .content:nth-child(odd), .other-contents .image-then-description:nth-child(odd) {
        padding-right: var(--padding-right-1);
        border-right: .5px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:nth-child(even), .all-lead-contents .image-then-description:nth-child(even), .category .small-screen .content:nth-child(even), .other-contents .image-then-description:nth-child(even) {
        padding-left: var(--padding-left-1);
    }

    .image-then-description .description-container {
        padding-left: 0;
        padding-top: 1rem;
    }

    .ad-or-content .description-beneath-image .description-container {
        margin-top: 0 !important;
        padding-left: 1rem;
    }

    .other-contents .content .image-then-description-for-all .image-container, .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 130px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 230.75px;
    }
}

@media only screen and (min-width: 576px ) and (max-width: 767px) {
    .top-content-video-height {
        height: 372px;
    }

    .next-lead-contents {
        display: flex;
    }

    .next-lead-contents .image-then-description:nth-child(odd), .all-lead-contents .image-then-description:nth-child(odd), .category .small-screen .content:nth-child(odd), .other-contents .image-then-description:nth-child(odd) {
        padding-right: var(--padding-right-1);
        border-right: 1px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:nth-child(even), .all-lead-contents .image-then-description:nth-child(even), .category .small-screen .content:nth-child(even), .other-contents .image-then-description:nth-child(even) {
        padding-left: var(--padding-left-1);
    }

    .image-then-description .description-container {
        padding-left: 0;
        padding-top: 1rem;
    }

    .ad-or-content .description-beneath-image .description-container {
        margin-top: 0 !important;
        padding-left: 1rem;
    }

    .other-contents .content .image-then-description-for-all .image-container, .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 96px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 176.75px;
    }
}

@media only screen and (max-width: 575px) {
    .top-content-video-height {
        height: 372px !important;
    }

    .next-lead-contents {
        display: flex;
    }

    .next-lead-contents .image-then-description:nth-child(odd),
    .all-lead-contents .image-then-description:nth-child(odd),
    .category .small-screen .content:nth-child(odd),
    .other-contents .image-then-description:nth-child(odd) {
        padding-right: var(--padding-right-1);
        border-right: 1px solid var(--global-border-color);
    }

    .next-lead-contents .image-then-description:nth-child(even), .all-lead-contents .image-then-description:nth-child(even), .category .small-screen .content:nth-child(even), .other-contents .image-then-description:nth-child(even) {
        padding-left: var(--padding-left-1);
    }

    .image-then-description .description-container {
        padding-left: 0;
        padding-top: 1rem;
    }

    .ad-or-content .description-beneath-image .description-container {
        margin-top: 0 !important;
        padding-left: 1rem;
    }

    .other-contents .content .image-then-description-for-all .image-container {
        height: 76px;
    }

    .emigration .category-contents .other-contents .content .image-then-description-for-all .image-container {
        height: 72px;
    }

    .opinion .lead-category-content .author-image .circleBase {
        height: 136.75px;
    }
}


/*only minimum width*/
@media only screen and (min-width: 1400px) {


}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) {
    .border-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .border-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .image-then-description {
        display: flex;
        flex-direction: row;
    }

    .national .category-contents .lead-category-content .image-then-description .image-container .img-fluid,
    .country .category-contents .lead-category-content .image-then-description .image-container .img-fluid,
    .politics .category-contents .contents .content .description-beneath-image .image-container .img-fluid,
    .economics .category-contents .contents .content .description-beneath-image .image-container .img-fluid,
    .entertainment .category-contents .contents .content .description-beneath-image .image-container .img-fluid

    {
        height: 101%;
    }

    .politics .contents .content:not(:nth-child(1)),
    .economics .contents .content:not(:nth-child(1)),
    .entertainment .contents .content:not(:nth-child(1))
    {
        border-left: 1px solid var(--global-border-color);
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 576px ) {
    .politics .contents .content:not(:nth-child(1), :nth-child(5)),
    .economics .contents .content:not(:nth-child(1), :nth-child(5)),
    .entertainment .contents .content:not(:nth-child(1), :nth-child(5))
    {
        border-left: 1px solid var(--global-border-color);
    }

     .entertainment .other-contents .content .image-then-description-for-all .image-container {
         height: 100%;
     }
}

@media only screen and (max-width: 575px) {
    .politics .contents .content:not(:nth-child(1), :nth-child(5)),
    .economics .contents .content:not(:nth-child(1), :nth-child(5)),
    .entertainment .contents .content:not(:nth-child(1), :nth-child(5))
    {
        border-left: 1px solid var(--global-border-color);
    }

    .entertainment .other-contents .content .image-then-description-for-all .image-container {
        height: 100%;
    }
}