@import url('https://fonts.maateen.me/kalpurush/font.css');

:root {
    --primary-color: black;
    --p-and-small-color: #555555;
    --site-color: #0573E6;
    --second-site-color: #DC3545;
    --hover-color: #0573E6;
    --global-border-color: #dee2e6;
    --font-xs: 1rem;
    --font-sm-1: 1.15rem;
    --font-sm-2: 19px;
    --font-md: 23px;
    --font-lg: 27px;
    --font-xl: 31px;
    --font-xxl: 35px;
    --f-w-xs: 300;
    --f-w-sm: 400;
    --f-w-md: 600;
    --f-w-lg: 700;
    --f-w-xl: 800;
    --f-w-xxl: 900;
    --margin-top-1: 1rem;
    --margin-bottom-1: 1rem;
    --margin-left-1: 1rem;
    --margin-right-1: 1rem;
    --padding-top-1: 1rem;
    --padding-bottom-1: 1rem;
    --padding-left-1: 1rem;
    --padding-right-1: 1rem;
    --quarter: .25rem;
    --half: .5rem;
    --full: 1rem;
    --fullx2: 2rem;

    /*--mnl-border : 1px solid */
}

@font-face {
    font-family: noto;
    src: url('../fonts/NotoSerifBengali-VariableFont_wdth,wght.ttf');
}

* {
    font-family: noto, Arial, sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p,
small {
    color: var(--p-and-small-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

a:hover p,
a:hover small {
    color: var(--primary-color);
    text-decoration: none;
}


h3, h4, h5 {
    line-height: 1.4;
}

/*advertisement*/

.advertisement {
    padding-top: var(--full);
    padding-bottom: var(--full);
    border-bottom: 1px solid var(--global-border-color);
}

/*advertisement-ends*/

.text-bold {
    font-weight: bold;
}

.font-xs {
    font-size: var(--font-xs);
}

.font-sm {
    font-size: var(--font-sm-1);
}

.font-sm-1 {
    font-size: var(--font-sm-2) !important;
}

.font-md {
    font-size: var(--font-md);
}

.f-w-xs {
    font-weight: var(--f-w-xs);
}

.f-w-sm {
    font-weight: var(--f-w-sm);
}

.f-w-md {
    font-weight: var(--f-w-md);
}

.f-w-lg {
    font-weight: var(--f-w-lg);
}

.f-w-xl {
    font-weight: var(--f-w-xl);
}

.f-w-xxl {
    font-weight: var(--f-w-xxl);
}

/*.c-d .image-container {*/
/*    overflow: hidden;*/
/*}*/


mnl-border-my {
    width: 100%;
    display: inherit;
    margin-top: var(--margin-top-1);
    margin-bottom: var(--margin-bottom-1);
    border-top: 1px solid var(--global-border-color);
}

mnl-margin-py-1 {
    width: 100%;
    display: inherit;
    padding-top: var(--padding-top-1);
    padding-bottom: var(--padding-bottom-1);
}


.description-beneath-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.image {
    overflow: hidden;
}

.image .img-fluid {
    /*max-width: calc(100% + 1px);*/
}

.description-beneath-image .img-fluid,
.description-beneath-image-for-all .img-fluid,
.image-then-description .img-fluid,
.description-then-image .img-fluid,
.description-then-image-for-all .img-fluid,
.headline-then-image .img-fluid,
.special-articles .lead-category-content .author-image .circleBase img,
.special-articles .other-contents .content .author-image .circleBase img,
.c-description-beneath-image .image-container img,
.category-contents .content img {
    transition: transform 5ms ease-in-out;
    -webkit-transition: 5ms ease-in-out;
}

.description-beneath-image:hover .img-fluid,
.description-beneath-image-for-all:hover .img-fluid,
.image-then-description:hover .img-fluid,
.description-then-image:hover .img-fluid,
.description-then-image-for-all:hover .img-fluid,
.headline-then-image:hover .img-fluid,
.special-articles .lead-category-content:hover .author-image .circleBase img,
.special-articles .other-contents .content:hover .author-image .circleBase img,
.c-description-beneath-image:hover .image-container img,
.category-contents .content:hover img {
    transform: scale(1.03);
}

.description-beneath-image .description-container {
    margin-top: var(--half) !important;
}

.description-container h5 {
    font-weight: var(--f-w-md) !important;
}

.description-then-image-for-all {
    display: flex;
}

.description-then-image-for-all .description-container {
    padding-right: var(--padding-right-1);
}



/*footer-advertisement*/

.footer-advertisement {
    height: auto;
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
}

.ad-close-btn {
    display: block !important;
    background-color: var(--second-site-color);
    border: none;
    height: 12px;
    width: 55px;
    padding: 0;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: calc(50% - 28px);
    top: -12px;
    /*box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 20%);*/
    border-radius: 12px 12px 0 0;
}

/*footer-advertisement-ends*/

/*top-button*/

#button {
    display: inline-block;
    background-color: var(--second-site-color);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    right: 5%;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


#button::after {

    content: "\f0aa";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 40px;
    color: #fff;

}

#button:hover {
    background-color: var(--site-color);
    cursor: pointer;
}

/*top-button-ends*/

